* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

#root {
    width: 100%;
    min-height: 100vh;
}

.App {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    width: 100%;
    padding-top: 0;
}

footer {
    flex-shrink: 0;
    width: 100%;
}

